* {
    box-sizing: border-box;
    font-family: "Clash Display", sans-serif;
    line-height: 1.6;
}

body {
    background-color: black;
    color: #f5f5f5;
    margin: 0;
    overflow-x: hidden;
    background-image: url('../img/fake-brick.png');
    background-size: 12%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

h1, h2, h3 {
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: -0.5px;
    margin-top: 0;
}

h1 {
    font-size: 12rem;
    margin-bottom: 1px;
}

h2 {
    font-size: 7rem;
    padding-top: 20px;
    line-height: 0.8;
    text-align: left;
}

button {
    background: transparent;
    color: #f5f5f5;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
}

button:hover {
    background-color: #f5f5f5;
    color: black;
}

.site-header {
    padding: 40px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-family: 'Orbitron', sans-serif;
    gap: 4px;
    padding: 4px 12px;
    line-height: 1;
}

.local-time, .nav-toggle {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
    justify-content: space-between;
}


.btn-contact {
    text-decoration: none;
    border: 1px solid #f5f5f5;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 1.2rem;
    color: white;
}

.hero-text {
    padding: 80px 0;
    text-align: center;
}

.info-grid {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    width: 100%; 
    padding: 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    flex-grow: 1; 
    padding: 0 10px; 
}


.info-icon {
    width: 24px; 
    height: 24px;
    margin-bottom: 15px; 
  
}

.main-label {
    color: white;
    font-size: 0.8em;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 2px;
}

.sub-label {
    color: white;
    opacity: 0.6;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 1px;
}

.approach {
    text-align: center;
    padding-bottom: 120px;

}

.approach h2 {
    color: white;
    font-size: 500%;
    margin-bottom: 10px;
    margin-top: 100px;
    line-height: 0.8;
}

.approach p {
    color: gray;
}

.section-separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: 80px auto 40px auto;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    color: white;
}
.section-separator .page-number {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 0.6em;
    color: #ffffff;
    margin-right: 20px;
    letter-spacing: 1px;
}
.section-separator .section-title {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    opacity: 0.8;
}

.portfolio {
    text-align: right;

}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto 80px auto; 
    padding: 0 20px;
    text-align: center;
}

.portfolio-item {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    background-color: #1a1a1a;
    overflow: hidden;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .portfolio-grid {
        /* On screens 768px and smaller, switch to 1 column */
        grid-template-columns: 1fr; 
    }
}

.item-content {
    padding-top: 30px;
    color: gray;
}

.about h2 {
    text-align: center;
    font-size: 5em;
}

h2 .highlight {
    font-size: 1.4em;
    font-weight: 700;
    line-height: 0.8;
}

.profile-pic {
    text-align: center;
    width: 350px;
    height: 350px;
    max-width: 100%;
    display: block;
    margin: 40px auto;
}

.intro-sum {
    text-align: center;
    padding-bottom: 1px;
    line-height: 0.8;
    font-size: 1.6rem;
}

.intro-statement {
    text-align: center;
    line-height: 0.8;
    font-size: 1rem;
    color: gray;
}

.resume-button {
    margin: 40px auto;
    background-color: white;
    color: black;
    border: none;
    border-radius: 999px;
    padding: 10px 20px;
    height: auto;
    display:block;
    outline: 2px solid white;
}

.resume-button:hover {
    background-color: black;
    border-color: white;
    color: white;
}


